<template>
  <div>
    <currency-list-table :valute="valute">
      <template v-slot:top>
        <q-select outlined v-model="code" v-if="codes && codes.length" :options="codes" label="Валюта" class="current_list_select"/>
      </template>
    </currency-list-table>
  </div>
</template>

<script lang="ts">
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import CurrencyListTable from '@/components/CurrencyList/CurrencyListTable.vue'
import { ValuteObjectType } from '@/type/valuteType'

export default {
  setup () {
    const store = useStore()

    const rub = store.getters.rub
    const code = ref<{value: string, label: string}>({ value: rub.CharCode, label: `${rub.Name} (${rub.CharCode})` })

    const valute = computed(() => {
      const rowData = { ...store.getters.valute }

      if (code.value.value === 'RUB') {
        return Object.values(rowData) as Array<ValuteObjectType>
      }

      const valuteRowData = ref<Array<ValuteObjectType>>([])

      require(['money'], function (fx) {
        fx.base = 'RUB'
        fx.rates = {
          RUB: 1
        }

        rowData.RUB = store.getters.rub

        for (const key in rowData) {
          fx.rates[rowData[key].CharCode] = rowData[key].Value
          fx.rates[rowData[key].CharCode + '_prev'] = rowData[key].Previous
        }

        for (const key in rowData) {
          if (key !== code.value.value) {
            fx.settings = { from: code.value.value, to: rowData[key].CharCode }
            const value = Math.round((fx.convert(rowData[key].Nominal)) * 10000) / 10000

            fx.settings = { from: code.value.value, to: rowData[key].CharCode + '_prev' }
            const previous = Math.round((fx.convert(rowData[key].Nominal)) * 10000) / 10000

            valuteRowData.value.push({
              ID: rowData[key].ID,
              NumCode: rowData[key].NumCode,
              CharCode: rowData[key].CharCode,
              Nominal: rowData[key].Nominal,
              Name: rowData[key].Name,
              Value: value,
              Previous: previous
            })
          }
        }
      })

      return valuteRowData.value
    })

    return {
      valute,
      code,
      codes: computed(() => store.getters.codes)
    }
  },

  components: {
    CurrencyListTable
  }
}
</script>

<style scoped>
.current_list_select {
  min-width: 400px;
}
</style>
