<template>
  <div v-if="rowData && rowData.length" class="currency_list_table">
    <q-table
      title="Курсы валют"
      :rows="rowData"
      :columns="columns"
      :filter="filter"
      :rows-per-page-options="[0]"
      row-key="NumCode"
      hide-bottom
    >

    <template v-slot:top-left>
      <slot name="top"></slot>
    </template>

      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Поиск">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="NumCode" :props="props">
            {{ props.row.NumCode }}
          </q-td>
          <q-td key="CharCode" :props="props">
            {{ props.row.CharCode }}
          </q-td>
          <q-td key="Nominal" :props="props">
            {{ props.row.Nominal }}
          </q-td>
          <q-td key="Name" :props="props">
            {{ props.row.Name }}
          </q-td>
          <q-td key="Value" :props="props">
            {{ props.row.Value }}
          </q-td>
          <q-td key="Difference" :props="props">
            <q-icon v-if="props.row.Difference > 0" color="positive" name="arrow_upward" />
            <q-icon v-else-if="props.row.Difference < 0" color="red" name="arrow_downward" />
            <q-icon v-else-if="props.row.Difference === 0" name="sync_alt" />
            {{ props.row.Difference > 0 ? '+' : ' '  }}
            {{ props.row.Difference }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script lang="ts">
import { ValuteObjectType } from '@/type/valuteType'
import { ref, PropType, computed } from 'vue'

export default {
  props: {
    valute: { type: Array as PropType<Array<ValuteObjectType> | null>, default: null }
  },
  setup (props: any) {
    const rowData = computed(() => {
      return props.valute?.map?.((item: ValuteObjectType) => {
        return {
          NumCode: item.NumCode,
          CharCode: item.CharCode,
          Nominal: item.Nominal,
          Name: item.Name,
          Value: item.Value,
          Previous: item.Previous,
          Difference: Math.round(((item.Value ?? 0) - (item.Previous ?? 0)) * 10) / 10
        }
      })
    })

    const columns = [
      { name: 'NumCode', label: 'Цифр. код', field: 'NumCode' },
      { name: 'CharCode', label: 'Букв. код', field: 'CharCode' },
      { name: 'Nominal', label: 'Единиц', field: 'Nominal' },
      { name: 'Name', label: 'Валюта', field: 'Name' },
      { name: 'Value', label: 'Курс', field: 'Value' },
      { name: 'Difference', label: ' ', field: 'Difference' }
    ]

    return {
      filter: ref(''),
      columns,
      rowData
    }
  }
}
</script>

<style scoped>
.currency_list_table {
  max-width: 1200px;
  margin: 0 auto;
}
</style>
