<template>
  <div>
    <currency-list />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import CurrencyList from '@/components/CurrencyList/CurrencyList.vue'

@Options({
  components: {
    CurrencyList
  }
})
export default class CurrencyListView extends Vue { }
</script>
