<template>
  <div>
    <converter />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import converter from '@/components/Сonverter/Сonverter.vue'

@Options({
  components: {
    converter
  }
})
export default class СonverterView extends Vue { }
</script>
