<template>
  <div>
    <q-select  v-if="codes && codes.length"  v-model="model" :options="codes" outlined :label="label" class="convert_code_select"/>
  </div>
</template>

<script lang="ts">
import { ref, computed, PropType, watch } from 'vue'
import { useStore } from 'vuex'

export default {
  name: 'convert-code',

  props: {
    label: { type: String, default: null },
    code: { type: Object as PropType<{value: string, label: string} | null>, default: null }
  },

  setup (props: any, context: any) {
    const store = useStore()
    const model = ref<{value: string, label: string} | null>(props.code)

    watch(model, (val, old) => {
      if (val?.value !== old?.value && val?.value !== props.code?.value) {
        context.emit('update', val)
      }
    })

    watch(props, (val) => {
      model.value = val.code
    })

    return {
      model,
      codes: computed(() => store.getters.codes)
    }
  }
}
</script>

<style scoped>
.convert_code_select {
  min-width: 400px;
}
</style>
