<template>
  <div>
    <q-input outlined v-model="model" type="number" :prefix="prefix" :disable="disabled" />
  </div>
</template>

<script lang="ts">
import { ref, watch } from 'vue'

export default {
  name: 'convert-input',

  props: {
    prefix: { type: String, default: null },
    numberValue: { type: Number, default: null },
    disabled: { type: Boolean, default: false }
  },

  setup (props: any, context: any) {
    const model = ref<number | null>(props.numberValue)

    watch(model, (val, old) => {
      if (val !== old && val !== props.numberValue) {
        context.emit('update', Number(val))
      }
    })

    watch(props, (val) => {
      model.value = val.numberValue
    })

    return {
      model
    }
  }
}
</script>

<style scoped>
.convert_code_select {
  min-width: 400px;
}
</style>
