<template>
  <div class="converter">
    <q-card class="my-card">
      <q-card-section>
        <div class="text-h6">Конвертер</div>
      </q-card-section>

      <q-card-section class="q-pt-xs">
        <div class="row">
          <div class="col-5"> <converter-code :code="codeFrom" @update="(val) => { codeFrom = val; converterSum() }" /> </div>
          <div class="col-2 text-center"> <q-btn outline round icon="sync_alt" size="sm" class="q-mt-md" @click="onClickCode" /> </div>
          <div class="col-5"> <converter-code :code="codeTo" @update="(val) => { codeTo = val; converterSum() }"  /> </div>
        </div>
        <div class="row q-pt-lg">
          <div class="col-5"> <converter-input :numberValue="sumFrom" @update="(val) => { sumFrom = val; converterSum() }" /> </div>
            <div class="col-2 text-center"> <q-btn outline round icon="sync_alt" size="sm" class="q-mt-md" @click="onClickSum" /> </div>
          <div class="col-5"> <converter-input :numberValue="sumTo" @update="(val) => sumTo = val" :disabled="true" /> </div>
        </div>
      </q-card-section>
    </q-card>

  </div>
</template>

<script lang="ts">
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import converterInput from '@/components/Сonverter/СonverterInput.vue'
import converterCode from '@/components/Сonverter/СonverterCode.vue'

export default {
  name: 'con-verter',

  setup () {
    const store = useStore()

    const rub = store.getters.rub
    const codeFrom = ref<{value: string, label: string}>({ value: rub.CharCode, label: `${rub.Name} (${rub.CharCode})` })
    const codeTo = ref<{value: string, label: string}>({ value: rub.CharCode, label: `${rub.Name} (${rub.CharCode})` })

    const sumFrom = ref<number>(0)
    const sumTo = ref<number>(0)

    function converterSum () {
      const rowData = { ...store.getters.valute }

      require(['money'], function (fx) {
        fx.base = 'RUB'
        fx.rates = {
          RUB: 1
        }

        rowData.RUB = store.getters.rub
        fx.rates[codeFrom.value.value] = rowData[codeFrom.value.value].Value
        fx.rates[codeTo.value.value] = rowData[codeTo.value.value].Value

        fx.settings = { from: codeFrom.value.value, to: codeTo.value.value }

        const value = fx(sumFrom.value).from(codeFrom.value.value).to(codeTo.value.value)
        sumTo.value = Math.round(value * 10000) / 10000
      })
    }

    function onClickCode () {
      const codeTemp = codeFrom.value
      codeFrom.value = codeTo.value
      codeTo.value = codeTemp
      converterSum()
    }

    function onClickSum () {
      const sumTemp = sumFrom.value
      sumFrom.value = sumTo.value
      sumTo.value = sumTemp
      converterSum()
    }

    return {
      codeTo,
      codeFrom,
      sumTo,
      sumFrom,
      codes: computed(() => store.getters.codes),
      onClickCode,
      onClickSum,
      converterSum
    }
  },

  components: {
    converterInput,
    converterCode
  }
}
</script>

<style scoped>
.converter {
  max-width: 1200px;
  margin: 0 auto;
}
</style>
