<template>
  <div>
    <q-layout class="bg-grey-1">
      <q-header elevated class="text-white" style="background: #24292e" height-hint="61.59">
        <q-toolbar class="q-py-sm q-px-md">
          <div class="GL__toolbar-link q-ml-xs text-body2 text-weight-bold row items-center no-wrap">
            <router-link to="/" class="text-white q-pl-lg q-pr-lg"> Список валют</router-link>
            <router-link to="/converter" class="text-white q-pl-lg q-pr-lg">Конвертер</router-link>
          </div>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <div class="q-pt-lg q-pb-lg">
          <div v-if="loading">
            <div class="text-center">
              <q-spinner
                color="grey"
                size="10em"
              />
              <div class="q-pt-md">
                <span class="text-h4">Загрузка ...</span>
              </div>
            </div>
          </div>
          <div v-else-if="error">
            <div class="text-body1">
              <div>
                Произошла неизвестная ошибка.
              </div>
              <div>
                Мы уже работаем над ее устранением.
              </div>
            </div>
          </div>
          <div v-else>
            <router-view />
          </div>
        </div>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script lang="ts">
import { ref, onBeforeMount } from 'vue'
import { useStore } from 'vuex'

export default {
  setup () {
    const loading = ref<boolean>(false)
    const error = ref<boolean>(false)
    const store = useStore()

    // Первым делом необходимо загрузить информацию
    // о валютах
    onBeforeMount(() => {
      loading.value = true
      store.dispatch('dailyLoad').then(() => {
        loading.value = false
      }).catch((err) => {
        console.warn(err)
        error.value = true
        loading.value = false
      })
    })

    return {
      loading,
      error
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.GL__toolbar-link a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.GL__toolbar-link a:hover {
  opacity: 0.7;
}
</style>
